<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.idetective2"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="com.example.idetective2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.idetective2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.idetective2.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.idetective2.ListOfGames"
            android:label="@string/title_activity_list_of_games"
            android:parentActivityName="com.example.idetective2.NewJoinGame"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.idetective2.WaitingForPlayersList"
            android:label="@string/title_activity_waiting_for_players_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.idetective2.NewJoinGame"
            android:label="@string/title_activity_new_join_game"
            android:parentActivityName="com.example.idetective2.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.idetective2.PrefsActivity"
            android:label="@string/settings"
            android:parentActivityName="com.example.idetective2.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.idetective2.NewGameActivity"
            android:label="@string/title_activity_new_game"
            android:parentActivityName="com.example.idetective2.NewJoinGame"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.idetective2.Highscores"
            android:label="@string/title_activity_highscores"
            android:parentActivityName="com.example.idetective2.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.idetective2.Maps"
            android:label="@string/title_activity_maps"
            android:parentActivityName="com.example.idetective2.MainActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Google maps API key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDCL4aHjYW4UK0Z0EsXc8zGFuee0Qi8zlk" />

        <activity
            android:name="com.example.idetective2.PhoneActivity"
            android:label="@string/title_activity_phone" >
        </activity>
        <activity
            android:name="com.example.idetective2.CutsceneActivity"
            android:label="@string/title_activity_cutscene" >
        </activity>
        <activity
            android:name="com.example.idetective2.CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name="com.example.idetective2.ProffessorPuzzleActivity"
            android:label="@string/title_activity_proffessor_puzzle" >
        </activity>
    </application>

</manifest>
